@CHARSET "ISO-8859-1";

.table {
    margin: auto;
    width: 50%;
    padding: 10px;
}	

.bar {
	margin-bottom: 10px;
	padding: 2px;
	text-align: left;
	background-color: #ddd;
}

#listTitle {
	font-size: 150%;
	text-align: left;
}


#listContents {
	margin: auto;
	width: 100%;
    border: 2px solid black;
    padding: 5px;
}

#buttons {
	magin: auto;
	width: 100%;
	border:2px solid black;
	padding: 5px;	
}

#graphs {
	margin: auto;
	padding: 5px;
	
}